    <script>
      $("#content ul li a").each(function(i, item) {
        $(item).on("mousedown", function() {
          $("#annotation").empty().append($("ul", $(item).parent()).clone())
	})
      })

      var showPronunciation = false
      $("#toggle-pronunciation").click(function() {
        $(".word").each(function(i, item) {
          if(showPronunciation) {
            $(item).text($(item).attr("data-org"))
            $(item).attr("data-original-title", $(item).attr("data-pron"))
          } else {
            if ($(item).attr("data-pron") != "") {
              $(item).text($(item).attr("data-pron"))
              $(item).attr("data-original-title", $(item).attr("data-org"))
            }
          }
        })
	showPronunciation = !showPronunciation
      })
      $(function () {
        $('[data-toggle="tooltip"]').tooltip({container: "body"})
      })
    </script>
  </body>
</html>
